manifest {
    mainScript = 'main.nf'
}

params {
    outdir = '' // output directory for the files

    catalogue_version = ''
    catalogue_name = ''

    ftp_name = ''
    ftp_version = ''
    mmseq_coverage_threshold = 0.8

    genome_prefix = ''
    biome = ''

    mgyg_start = ''
    mgyg_end = ''

    ena_genomes = ''
    ena_genomes_checkm = ''

    // Reference database, see the ebi profile for an example //
    ena_genomes = ''
    ena_genomes_checkm = ''

    gtdb_db = ''
    gunc_db = ''
    interproscan_db = ''

    eggnog_db = ''
    eggnong_diamond_db = ''
    eggnong_data_dir = ''

    rfam_rrna_models = ''
    rfam_ncrna_models = ''

    geo_metadata = ''
    kegg_classes = ''

    amrfinder_plus_db = ''
}

profiles {

    lsf {
        workDir = params.workdir
        executor {
            name = "lsf"
            queueSize = 200
        }
        process.cache = "lenient"
    }

    singularity {
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
    }

    ebi {
        params.workdir = "/hps/nobackup/rdf/metagenomics/nextflow-jobstore/genomes-pipeline"
        params.singularity_cachedir = "/hps/nobackup/rdf/metagenomics/singularity_cache_nextflow/"

        params.gtdb_db = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/genomes-pipeline/release207_v2"
        params.gunc_db = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/genomes-pipeline/gunc_db_2.0.4.dmnd"
        params.interproscan_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/ips/5.57-90.0/data"

        params.eggnog_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/eggnog/data/eggnog.db"
        params.eggnong_diamond_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/eggnog/data/eggnog_proteins.dmnd"
        params.eggnong_data_dir = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/eggnog/data/"

        params.rfam_rrna_models = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/genomes-pipeline/rfams_cms"
        params.rfam_ncrna_models = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/genomes-pipeline/ncrna_cms"

        params.geo_metadata = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/genomes-pipeline/continent_countries.csv"
        params.kegg_classes = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/genomes-pipeline/kegg_classes.tsv"

        params.amrfinder_plus_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/amrfinderplus/3.11/2023-02-23.1"

        workDir = params.workdir

        executor {
            name = "lsf"
            queueSize = 200
        }
        process.cache = "lenient"

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }

        process {
            queue = 'production'
            withLabel: process_bigmem {
                queue = 'bigmem'
            }
        }
    }

    docker {
        enabled = true
        fixOwnership = true
    }

    local {
         singularity {
            enabled = true
            autoMounts = true
            remove = false
        }
        executor {
            name = "local"
        }
    }
}
