manifest {
    mainScript = 'main.nf'
}

params {
    outdir = '' // output directory for the files

    catalogue_version = ''
    catalogue_name = ''

    ftp_name = ''
    ftp_version = ''
    mmseq_coverage_threshold = 0.8

    genome_prefix = ''
    biome = ''

    mgyg_start = ''
    mgyg_end = ''
    preassigned_accessions = ''

    ena_genomes = ''
    ena_genomes_checkm = ''
    
    ncbi_genomes = ''

    xlarge = ''
    xlarge_chunk_size = 25000

    // Reference database, see the ebi profile for an example //
    ena_genomes = ''
    ena_genomes_checkm = ''

    genomes_information = ''
    study_genomes_information = ''

    gtdb_db = ''
    gunc_db = ''
    interproscan_db = ''

    eggnog_db = ''
    eggnong_diamond_db = ''
    eggnong_data_dir = ''

    rfam_rrna_models = ''
    rfam_ncrna_models = ''

    geo_metadata = ''
    kegg_classes = ''

    amrfinder_plus_db = ''
}

profiles {

    lsf {
        workDir = params.workdir
        executor {
            name = "lsf"
            queueSize = 200
        }
        process.cache = "lenient"
    }

    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }

    docker {
        docker {
            enabled = true
            fixOwnership = true
            autoMounts = true
        }
    }

    local {
        params.outdir = "result"
        executor {
            name = "local"
            cpus = 2
        }
        includeConfig 'config/local.config'
    }

    codon_lsf {
        params.workdir = "/hps/nobackup/rdf/metagenomics/service-team/nextflow-workdir/genomes-annotation-pipeline/${params.catalogue_name}_${params.catalogue_version}/"
        params.singularity_cachedir = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"

        workDir = params.workdir

        if ( params.xlarge ) {
            includeConfig 'config/codon_xlarge.config'
        } else {
            includeConfig 'config/codon.config'
        }
        includeConfig 'config/codon_dbs.config'

        executor {
            name = "lsf"
            queueSize = 200
            submitRateLimit = "10 sec"
            pollInterval = "10 sec"
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }

        process {
            cache = "lenient"
            errorStrategy = {
                task.exitStatus in ((130..145) + 104 + 247 + 250) && task.attempt <= 2 ? 'retry' : 'finish'
            }
            queue = {
                task.memory >= 200.GB ? 'bigmem' : 'production'
            }
        }
    }

     codon_slurm {
        params.workdir = "/hps/nobackup/rdf/metagenomics/service-team/nextflow-workdir/genomes-annotation-pipeline/${params.catalogue_name}_${params.catalogue_version}/"
        params.singularity_cachedir = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"

        workDir = params.workdir

        executor {
            name = "slurm"
            queueSize = 200
            queueGlobalStatus = true
            submitRateLimit = "10 sec"
            pollInterval = "10 sec"

        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }

        process {
            errorStrategy = {
                task.exitStatus in ((130..145) + 104 + 247 + 250) && task.attempt <= 3 ? 'retry' : 'finish'
            }
            maxRetries    = 2

            queue = 'standard'
            time = '1d'
            cache = "lenient"
            cpus   = 1
            memory = 6.GB
        }
        
        if ( params.xlarge ) {
            includeConfig 'config/codon_xlarge.config'
        } else {
            includeConfig 'config/codon.config'
        }
        includeConfig 'config/codon_dbs.config'
    }

    jenkins {
        params.workdir = "/hps/nobackup/rdf/metagenomics/service-team/nextflow-workdir/genomes-annotation-pipeline/${params.catalogue_name}_${params.catalogue_version}/"
        params.singularity_cachedir = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"

        workDir = params.workdir

        includeConfig 'config/jenkins.config'
        includeConfig 'config/codon_dbs.config'

        executor {
            name = "lsf"
            queueSize = 200
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }

        process {
            cache = "lenient"
            queue = 'production'
        }
    }
}
