manifest {
    mainScript = 'main.nf'
}

params {
    outdir = '' // output directory for the files

    catalogue_version = ''
    catalogue_name = ''

    ftp_name = ''
    ftp_version = ''
    mmseq_coverage_threshold = 0.8

    genome_prefix = ''
    biome = ''

    mgyg_start = ''
    mgyg_end = ''

    ena_genomes = ''
    ena_genomes_checkm = ''

    // Reference database, see the ebi profile for an example //
    ena_genomes = ''
    ena_genomes_checkm = ''

    genomes_information = ''
    study_genomes_information = ''

    gtdb_db = ''
    gunc_db = ''
    interproscan_db = ''

    eggnog_db = ''
    eggnong_diamond_db = ''
    eggnong_data_dir = ''

    rfam_rrna_models = ''
    rfam_ncrna_models = ''

    geo_metadata = ''
    kegg_classes = ''

    amrfinder_plus_db = ''
}

profiles {

    lsf {
        workDir = params.workdir
        executor {
            name = "lsf"
            queueSize = 200
        }
        process.cache = "lenient"
    }

    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }

    docker {
        docker {
            enabled = true
            fixOwnership = true
            autoMounts = true
        }
    }

    local {
        params.outdir = "result"
        executor {
            name = "local"
            cpus = 2
        }
        includeConfig 'config/local.config'
    }

    ebi {
        params.workdir = "/hps/nobackup/rdf/metagenomics/nextflow-jobstore/genomes-pipeline"
        params.singularity_cachedir = "/hps/nobackup/rdf/metagenomics/singularity_cache_nextflow/"

        workDir = params.workdir

        includeConfig 'config/codon.config'
        includeConfig 'config/codon_dbs.config'

        executor {
            name = "lsf"
            queueSize = 200
        }
        process.cache = "lenient"

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }

        process {
            queue = 'production'
            withLabel: process_bigmem {
                queue = 'bigmem'
            }
        }
    }

    jenkins {
        params.workdir = "/hps/nobackup/rdf/metagenomics/nextflow-jobstore/genomes-pipeline"
        params.singularity_cachedir = "/hps/nobackup/rdf/metagenomics/singularity_cache_nextflow/"

        workDir = params.workdir

        includeConfig 'config/jenkins.config'
        includeConfig 'config/codon_dbs.config'

        executor {
            name = "lsf"
            queueSize = 200
        }
        process.cache = "lenient"

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }

        process {
            queue = 'production'
            withLabel: process_bigmem {
                queue = 'bigmem'
            }
        }
    }
}
