/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    interpro_licensed_software = false
}

process {
    withName: PROKKA             { cpus = 2; memory = '1.0 GB'; ext.args = '--fast' }
    withName: PANAROO            { cpus = 2; memory = '1.0 GB' }
    withName: MMSEQS_EASYCLUSTER {
        cpus = 2
        memory = '2.0 GB'
        ext.args = '--remove-tmp-files 1 --min-seq-id 0.9 --cov-mode 0 -c 0.8 -k 7'
    }
    withName: IPS {
        cpus   = 1
        memory = '16.0 GB'
        ext.args = '--goterms --pathways -appl Pfam'
    }
}
