process {
    withName: ANNONTATE_GFF { cpus = 1; memory = '1.0 GB'}
    withName: CHECKM { cpus = 16; memory = '8.5 GB'}
    withName: CLASSIFY_CLUSTERS { cpus = 1; memory = '1.0 GB'}
    withName: CORE_GENES { cpus = 1; memory = '1.0 GB'}
    withName: CRISPRCAS_FINDER { cpus = 1; memory = '10.0 GB'}
    withName: DETECT_NCRNA { cpus = 4; memory = '5.0 GB'}
    withName: DETECT_RRNA { cpus = 4; memory = '2.0 GB'}
    withName: DREP { cpus = 32; memory = '25.0 GB'}
    withName: EGGNOG_MAPPER { cpus = 16; memory = '50.0 GB'}
    withName: FILTER_QS50 { cpus = 1; memory = '1.0 GB'}
    withName: FUNCTIONAL_ANNOTATION_SUMMARY { cpus = 1; memory = '1.0 GB'}
    withName: GENERATE_EXTRA_WEIGHT { cpus = 1; memory = '1.0 GB'}
    withName: GENOME_SUMMARY_JSON { cpus = 1; memory = '1.0 GB'}
    withName: GTDBTK { cpus = 32; memory = '100.0 GB'}
    withName: GUNC { cpus = 4; memory = '1.0 GB'}
    withName: INDEX_FNA { cpus = 1; memory = '500 MB'}   
    withName: IPS { cpus = 8; memory = '12.0 GB'}
    withName: IQTREE { cpus = 8; memory = '20.0 GB'}
    withName: KRAKEN2_BUILD { cpus = 4 }
    withName: MASH_TO_NWK { cpus = 1; memory = '1.0 GB'}
    withName: MASH_SKETCH { cpus = 16; memory = '100.0 GB'}
    withName: MERGE_NCBI_ENA { cpus = 1; memory = '1.0 GB'}
    withName: METADATA_TABLE { cpus = 1; memory = '1.0 GB'}
    withName: MMSEQ { cpus = 32; memory = '100.0 GB'}
    withName: PANAROO { cpus = 8; memory = '3.0 GB'}
    withName: PER_GENOME_ANNONTATION_GENERATOR { cpus = 16; memory = '15.0 GB'}
    withName: PHYLO_TREE { cpus = 1; memory = '1.0 GB'}
    withName: PROKKA { cpus = 8; memory = '1.0 GB'}
    withName: RENAME_FASTA { cpus = 1; memory = '500 MB'}
    withName: SPLIT_DREP { cpus = 1; memory = '1.0 GB'}
}
