params {
    gtdb_db = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/genomes-pipeline/release220"
    gunc_db = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/genomes-pipeline/gunc_db_2.0.4.dmnd"
    interproscan_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/ips/5.62-94.0/data"

    eggnog_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/eggnog/data/eggnog.db"
    eggnong_diamond_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/eggnog/data/eggnog_proteins.dmnd"
    eggnong_data_dir = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/eggnog/data/"

    rfam_rrna_models = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/genomes-pipeline/rfam_14.9/rfams_cms"
    rfam_ncrna_models = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/genomes-pipeline/rfam_14.9/ncrna_cms"

    geo_metadata = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/genomes-pipeline/continent_countries.csv"
    kegg_classes = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/genomes-pipeline/kegg_classes.tsv"

    amrfinder_plus_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/amrfinderplus/3.11/2023-02-23.1"
    
    checkm2_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/checkm2/1.0.1/uniref100.KO.1.dmnd"
}
