process {
    withName: ANNONTATE_GFF {
        cpus = 1; memory = { 1.GB * task.attempt }
    }
    withName: CHECKM {
        cpus = 16; memory = { 9.GB * task.attempt }
    }
    withName: CLASSIFY_CLUSTERS {
        cpus = 1; memory = { 1.GB * task.attempt }
    }
    withName: CORE_GENES {
        cpus = 1; memory = { 1.GB * task.attempt }
    }
    withName: CRISPRCAS_FINDER {
        cpus = 1; memory = { 10.GB * task.attempt }
    }
    withName: DETECT_NCRNA {
        cpus = 4; memory = { 5.GB * task.attempt }
    }
    withName: DETECT_RRNA {
        cpus = 4; memory = { 2.GB * task.attempt }
    }
    withName: DREP {
        cpus = 32; memory = { 25.GB * task.attempt }
    }
    withName: DREP_CHUNKED {
        cpus = 32; memory = { 25.GB * task.attempt }
    }
    withName: EGGNOG_MAPPER {
        cpus = 16; memory = { 50.GB * task.attempt }
    }
    withName: FILTER_QS50 {
        cpus = 1; memory = { 1.GB * task.attempt }
    }
    withName: FUNCTIONAL_ANNOTATION_SUMMARY {
        cpus = 1; memory = { 1.GB * task.attempt }
    }
    withName: GENERATE_EXTRA_WEIGHT {
        cpus = 1; memory = { 1.GB * task.attempt }
    }
    withName: GENOME_SUMMARY_JSON {
        cpus = 1; memory = { 1.GB * task.attempt }
    }
    withName: GTDBTK {
        cpus = 32; memory = { 100.GB * task.attempt }
    }
    withName: GUNC {
        cpus = 4; memory = { 10.GB * task.attempt }
    }
    withName: INDEX_FNA {
        cpus = 1; memory = { 500.MB * task.attempt }
    }
    withName: IPS {
        cpus = 8; memory = { 12.GB * task.attempt }
    }
    withName: IQTREE {
        cpus = 16; memory = { 20.GB * task.attempt }
    }
    withName: KRAKEN2_BUILD {
        cpus = 4
    }
    withName: MASH_TO_NWK {
        cpus = 1; memory = { 1.GB * task.attempt }
    }
    withName: MASH_SKETCH {
        cpus = 16; memory = { 100.GB * task.attempt }
    }
    withName: MERGE_NCBI_ENA {
        cpus = 1; memory = { 1.GB * task.attempt }
    }
    withName: METADATA_TABLE {
        cpus = 1; memory = { 1.GB * task.attempt }
    }
    withName: MMSEQ {
        cpus = 32; memory = { 100.GB * task.attempt }
    }
    withName: PANAROO {
        cpus = 8; memory = { 3.GB * task.attempt }
    }
    withName: PER_GENOME_ANNONTATION_GENERATOR {
        cpus = 16; memory = { 200.GB * task.attempt }
    }
    withName: PHYLO_TREE {
        cpus = 1; memory = { 1.GB * task.attempt }
    }
    withName: PROKKA {
        cpus = 8; memory = { 1.GB * task.attempt }
    }
    withName: RENAME_FASTA {
        cpus = 1; memory = { 500.MB * task.attempt }
    }
    withName: SPLIT_DREP {
        cpus = 1; memory = { 1.GB * task.attempt }
    }
    withName: SPLIT_DREP_LARGE {
        cpus = 1; memory = { 1.GB * task.attempt }
    }
    withName: SANNTIS {
        cpus = 4; memory = { 1.GB * task.attempt }
    }
}
