process {
    withLabel: ANNONTATE_GFF { cpus = 1; memory = '1.0 GB'}
    withLabel: CHECKM { cpus = 16; memory = '8.5 GB'}
    withLabel: CLASSIFY_CLUSTERS { cpus = 1; memory = '1.0 GB'}
    withLabel: CORE_GENES { cpus = 1; memory = '1.0 GB'}
    withLabel: CRISPRCAS_FINDER { cpus = 1; memory = '10.0 GB'}
    withLabel: DETECT_NCRNA { cpus = 4; memory = '5.0 GB'}
    withLabel: DETECT_RRNA { cpus = 4; memory = '2.0 GB'}
    withLabel: DREP { cpus = 32; memory = '25.0 GB'}
    withLabel: EGGNOG_MAPPER { cpus = 16; memory = '50.0 GB'}
    withLabel: FILTER_QS50 { cpus = 1; memory = '1.0 GB'}
    withLabel: FUNCTIONAL_ANNOTATION_SUMMARY { cpus = 1; memory = '1.0 GB'}
    withLabel: GENERATE_EXTRA_WEIGHT { cpus = 1; memory = '1.0 GB'}
    withLabel: GENOME_SUMMARY_JSON { cpus = 1; memory = '1.0 GB'}
    withLabel: GTDBTK { cpus = 32; memory = '100.0 GB'}
    withLabel: GUNC { cpus = 4; memory = '1.0 GB'}
    withLabel: INDEX_FNA { cpus = 1; memory = '500 MB'}   
    withLabel: IPS { cpus = 8; memory = '12.0 GB'}
    withLabel: IQTREE { cpus = 8; memory = '10.0 GB'}
    withLabel: KRAKEN2_BUILD { cpus = 4 }
    withLabel: MASH_TO_NWK { cpus = 1; memory = '1.0 GB'}
    withLabel: MASH_SKETCH { cpus = 16; memory = '100.0 GB'}
    withLabel: MERGE_NCBI_ENA { cpus = 1; memory = '1.0 GB'}
    withLabel: METADATA_TABLE { cpus = 1; memory = '1.0 GB'}
    withLabel: MMSEQ { cpus = 32; memory = '100.0 GB'}
    withLabel: PANAROO { cpus = 8; memory = '1.0 GB'}
    withLabel: PER_GENOME_ANNONTATION_GENERATOR { cpus = 16; memory = '15.0 GB'}
    withLabel: PHYLO_TREE { cpus = 1; memory = '1.0 GB'}
    withLabel: PROKKA { cpus = 8; memory = '1.0 GB'}
    withLabel: RENAME_FASTA { cpus = 1; memory = '500 MB'}
    withLabel: SPLIT_DREP { cpus = 1; memory = '1.0 GB'}
}