/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: CHECKM2_NCBI {
        publishDir = [
        path: "${params.outdir}/additional_data/intermediate_files",
        pattern: "checkm_quality.csv",
        saveAs: { "checkm_quality_ncbi_genomes.csv" },
        mode: 'copy'
        ]
    }
    
}

