/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: CHECKM2_NCBI {
        publishDir = [
        path: "${params.outdir}/additional_data/intermediate_files",
        pattern: "checkm_quality.csv",
        saveAs: { "checkm_quality_ncbi_genomes.csv" },
        mode: 'copy'
        ]
    }
    withName: DREP_CATALOGUE {
        publishDir = [
            path: "${params.outdir}/additional_data/intermediate_files",
            pattern: "drep_data_tables.tar.gz",
            mode: 'copy',
            failOnError: true
        ]
    }
    withName: IPS {
        ext.args = {
            def applications = [
                'AntiFam',
                'CATH-Gene3D',
                'CATH-FunFam',
                'CDD',
                'COILS',
                'HAMAP',
                'MobiDBLite',
                'NCBIFAM',
                'PANTHER',
                'Pfam',
                'PIRSF',
                'PIRSR',
                'PRINTS',
                'ProSiteProfiles',
                'ProSitePatterns',
                'SFLD',
                'SMART',
                'SUPERFAMILY'
            ]
            if ( params.interpro_licensed_software ) {
                applications << "SignalP"
            }
            return "--goterms --pathways -appl " + applications.join(",")
        }
    }
    withName: IPS_PER_GENOME {
        publishDir = [
            path: "${params.outdir}/interpro",
            pattern: "*.IPS.tsv",
            mode: 'copy'
        ]
    }
    withName: EGGNOG_MAPPER_ANNOTATIONS_PER_GENOME {
        publishDir = [
            path:"${params.outdir}/eggnog",
            pattern: "*annotations",
            mode: 'copy'
        ]
    }
    withName: MMSEQS_EASYCLUSTER {
        ext.args = [
            '--remove-tmp-files 1',
            '--min-seq-id 0.9',
            '--cov-mode 0',
            '-c 0.8'
         ].join(' ')
    }

    withName: CGT {
        ext.args = [
            "--breaks 0.05,0.95",
            "--error 0.05"
        ].join(' ')
    }

    withName: GENERATE_EXTRA_WEIGHT {
        publishDir = [
        path: "${params.outdir}/additional_data/intermediate_files/",
        saveAs: { filename -> "extra_weight_table.txt" },
        mode: 'copy',
        enabled: !params.update_catalogue_path ? true : false
        ]
    }
    withName: SPLIT_DREP_MAIN {
        publishDir = [
            path: "${params.outdir}/additional_data/intermediate_files",
            pattern: "clusters_split.txt",
            mode: "copy",
            failOnError: true
        ]
    }
    withName: SPLIT_DREP_NEW_SPECIES {
        publishDir = [
        path: "${params.outdir}/additional_data/update_execution_reports",
        pattern: "split_output/clusters_split.txt",
        saveAs: { "clusters_split_new_species.txt" },
        mode: "copy",
        failOnError: true
        ]
    }
    withName: PARSE_MASH_FOR_UPDATE {
        publishDir = [
        path: "${params.outdir}/additional_data/update_execution_reports",
        pattern: "mash_parse_results/*_strains.tsv",
        mode: 'copy',
        ]
    }
    withName: RENAME_FASTA {
        publishDir = [
        path: "${params.outdir}/additional_data/intermediate_files",
        pattern: "*.tsv",
        saveAs: { "renamed_genomes_name_mapping.tsv" },
        mode: 'copy',
        enabled: !params.update_catalogue_path ? true : false,
        failOnError: true
        ]
    }
    withName: RUN_CLUSTER_UPDATE {
        publishDir = [
            [
            path: "${params.outdir}/additional_data/intermediate_files",
            pattern: "update_clusters_split.txt",
            saveAs: { "clusters_split.txt" },
            mode: 'copy'
            ],
            [
            path: "${params.outdir}/additional_data/intermediate_files",
            pattern: "extra_weight_table_all_genomes.tsv",
            saveAs: { "extra_weight_table.txt" },
            mode: 'copy',
            enabled: params.update_catalogue_path ? true : false
            ],
            [
            path: "${params.outdir}/additional_data/update_execution_reports",
            pattern: "update_cluster_rep_changes_report.tsv",
            mode: 'copy'
            ],
            [
            path: "${params.outdir}/additional_data/intermediate_files",
            pattern: "update_renamed_genomes_name_mapping.tsv",
            saveAs: { "renamed_genomes_name_mapping.tsv" },
            mode: 'copy',
            enabled: params.update_catalogue_path ? true : false
            ]
        ]
    }
}
