/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: CHECKM2_NCBI {
        publishDir = [
        path: "${params.outdir}/additional_data/intermediate_files",
        pattern: "checkm_quality.csv",
        saveAs: { "checkm_quality_ncbi_genomes.csv" },
        mode: 'copy'
        ]
    }
}

process {
    withName: IPS_PER_GENOME {
        publishDir = [
        path: "${params.outdir}",
        pattern: "*.IPS.tsv",
        saveAs: { 
            filename -> {
                def tsv_file = file(filename);
                def genome_name = tsv_file.getSimpleName();
                String cluster_prefix = genome_name.substring(0, genome_name.length() - 2);
                return "species_catalogue/${cluster_prefix}/${genome_name}/genome/${genome_name}_InterProScan.tsv";
            }
        },
        mode: 'copy'
        ]
    }
}

process {
    withName: EGGNOG_MAPPER_ANNOTATIONS_PER_GENOME {
        publishDir = [
            path:"${params.outdir}/eggnog",
            pattern: "*annotations",
            mode: 'copy'
        ]
    }
}

